.home {
  background-color: #361607;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
}

.contato {
  color: white;
}

body {
  background-color: black;
  background-position: center;
  text-align: center;
  overflow: overlay;
}

.logo {
  font-size: 32px;
  font-family: "Smooch", cursive;
}

.titulo {
  color: white;
  font-size: 21px;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 10px 50px 20px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 460px;
  margin: 25px;
  background-color: #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}

.card:hover {
  transform: scale3d(1.1, 1.1, 1);
}

.card-header {
     width: 100%;
    height: 242px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
  height: 170px;
  padding: 15px;
  text-align: center;
  font-family: sans-serif;
}

.btn:hover {
  color: rgba(255, 255, 255, 1);
}

#btn {
  display: none;
}

.paleta {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.paleta .box {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  cursor: pointer;
  margin: 5px;
  padding: 0 10px;
}

.paleta .box:hover {
  opacity: 1;
}

.paleta .box.red {
  background-color: red;
}
.paleta .box.blue {
  background-color: blue;
}
.paleta .box.green {
  background-color: green;
}
.paleta .box.lilac {
  background-color: rgb(199, 142, 203);
}
.paleta .box.orange {
  background-color: orange;
}
.paleta .box.black {
  background-color: black;
}

input:checked + .cores {
  right: 0;
}
input:checked + .cores > .btn {
  color: rgba(255, 255, 255, 1);
}

.nome {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 10px 0;
}

img {
  max-width: 200px;
  max-height: 200px;
  width: auto;
  height: auto;
  border: none;
}

footer {
  color: white;
  background-color: #361607;
  height: 24vh;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}



.social {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.social h2{
  font-size: 1.5em;
}

.social ul {
  width: auto;
  margin: auto;
  float: left;
  display: block;
}

.social ul li {
  position: relative;
  background: #361607;
  list-style: none;
  float: left;
  margin: 5px;
  z-index: 1;
  overflow: hidden;
  border-radius: 3px;
  font-size: 1.5em;
  text-align: center;
}

.social ul li a {
  width: 50px;
  height: 50px;
  line-height: 53px;
  display: block;
  text-decoration: none;
  color: #fff;
  transition: 0.4s;
}

.social ul li::before {
  transition: 0.4s;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 90%;
  left: 0;
  background: #e2aab2;
  z-index: -1;
  transform: scale(1);
  transition: 0.4s;
}

.social ul li:hover::before {
  transition: 0.4s;
  top: 0%;
}
.social ul li a:hover {
  color: #361607;
}
